{% extends "base.html" %}

{% block "title" %}Automobiliai{% endblock %}


{% block "content" %}
{% load static %}

<div class="display-5 pb-2">Servise registruoti automobiliai:</div>
{% for car in cars %}
<div class="col-md-4 d-flex align-items-stretch">
    <div class="card mb-4 shadow-sm" style="width:300px">
        {% if car.photo %}
        <img class="card-img-top" src="{{ car.photo.url }}" alt="...">
        {% else %}
        <img class="card-img-top" src="{% static 'img/no-image.png' %}">
        {% endif %}
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{ car.car_model }}</h6>
            <p class="card-text"><a href="{{ car.pk }}">{{ car.license_plate }}</a></p>
        </div>
    </div>
</div>
<!--<a href="{% url 'car' car.pk %}"><p>{{ car }}</p></a>-->
{% endfor %}

<div class="container puslapiai">
    <nav aria-label="...">
        {% if cars.has_other_pages %}
        <ul class="pagination pagination-sm justify-content-center">
            {% for i in cars.paginator.page_range %}
            {% if cars.number == i %}
            <li class="page-item active">
                <a class="page-link">{{ i }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}