{% extends "base.html" %}

{% block "title" %}Automobiliai{% endblock %}


{% block "content" %}
<div class="display-5 pb-2">Servise registruoti automobiliai:</div>
{% for car in cars %}
<a href="{% url 'car' car.pk %}"><p>{{ car }}</p></a>
{% endfor %}

<div class="container puslapiai">
    <nav aria-label="...">
        {% if cars.has_other_pages %}
        <ul class="pagination pagination-sm justify-content-end">
            {% for i in cars.paginator.page_range %}
            {% if cars.number == i %}
            <li class="page-item active">
                <a class="page-link">{{ i }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}